body {color: rgb(153, 78, 9);
    background-color: rgb(247, 195, 100);
    font-family: Arial, Helvetica, sans-serif;
    }


    h1{
        color: rgb(247, 195, 100);
        background-color: rgb(153, 78, 9);
    text-align: center;
    }


    ul { display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 10px;
    }
   
 a {
color:  rgb(153, 78, 9);
text-decoration: none;
 }
