body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #6bf776, #51ed3d, #21760c);
    padding: 15px 0;
 }

.docinho {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 30px;
     margin: 20px auto;
     padding: 0 10px; 
    }

img {
    display: block;
    align-items: baseline;
    justify-content: flex-end;
    margin: 0 auto;
    width:25%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 40, 9, 0.938);
 }
