@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
     
    h2{
        font-family: "Playfair Display", serif;
        margin: 10px;
        padding: 10px;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #ff6ebd, #8ad5ff, #9effa9);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .body{
        font-family: Poppins, sans-serif;
        background: #ffe6f2;
        text-align: center;
        padding: 20px;
    }

    h1 {
        color: #ff66a3;
    }

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }

    select, input {
        padding: 10px;
        border-radius: 8px;
        border: 1px, solid #ccc;
        margin-top: 5px;
        width: 80%;
        max-width: 400px;
    }

    button {
        background: #ff66a3;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s;
    }

    button:hover {
        background: #ff3385;
    }

    #historia {
        display: none;
        background: white;
        margin: 30px auto;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        font-size: 18px;
        line-height: 1.6;
        width: 80%;
        max-width: 500px;
    }

    .container{
        max-width: 1400px;
        padding: 0 5%;
        margin: 0 auto;
    }
 
    section{
        padding: 3.0rem 0;
    }

    header{
        background: linear-gradient(90deg, #ff6ebd, #8ad5ff, #9effa9 );
        padding: 15px 0;
        box-shadow: 0 2px 10px rgb(255, 252, 252)
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .logo{
        font-size: 30px;
        font-weight: bold;
        color: hsl(338, 86%, 40%);
    }

    .ul{
        display: flex;
        align-items: center;
        font-family: "Playfair Display", serif;
    }

    .ul li{
        margin: 0 35px;
        font-size: 15px;
    }

    .ul li a{
        color: hsl(338, 86%, 40%);
    }

    a  {
        color:white;
        text-decoration: none;
    }

    .conteudo {
         display: flex;
         align-items: center;
         justify-content: flex-start; 
         gap: 30px;
         margin: 25px auto;
         max-width: 1100px;
         padding: 0 10px; 
    }