@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap');
     
    .h2{
        font-family: "Poetsen One", sans-serif;
        margin: 5px;
        padding: 5px;
    }

    .titulo{
        display: inline-block;
        font-size: 40px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);;
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 10px;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    .background-white{
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #ff6ebd, #8ad5ff, #9effa9);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .container{
        max-width: 1400px;
        padding: 0 5%;
        margin: 0 auto;
    }
 
    section{
        padding: 3.0rem 0;
    }

    header{
        width: 100%;
        height: auto;
        padding: 15px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(90deg, #ff6ebd, #8ad5ff, #9effa9 );
        box-shadow: 0 2px 10px rgb(255, 252, 252)
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .logo{
        font-size: 30px;
        font-weight: bold;
         display: inline-block;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        margin: 10px;
        padding: 5px;
    }

    .ul{
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: "Poetsen One", sans-serif;
    }

    ul li{
        margin: 0 35px;
        font-size: 15px;
    }

    ul li a{
        display: inline-block;
        font-size: 14px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        margin: 10px;
        padding: 5px;
    }

    a  {
        color:white;
        text-decoration: none;
    }

    .imagem-principal {
             width: 25%;
             max-width: 200px;
             display: block;
             margin: 20px auto;
    }

    .conteudo {
         display: flex;
         align-items: center;
         justify-content: flex-start; 
         gap: 30px;
         margin: 25px auto;
         max-width: 1100px;
         padding: 0 10px; 
    }

    img {
        width: 40%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(255, 24, 151, 0.938);
    }

    .texto {
         width: 50%;
         font-family: "Caveat", cursive;
         font-size: 20px;
         color: black;
         line-height: 1.6;
    }

/* Responsividade para celular */

@media (max-width: 768px) {
 .conteudo {
    flex-direction: column;
    text-align: center;
padding: 0 5px;

 img {
    width: 80%;
    margin-bottom: 20px;
  }

 .texto {
    width: 100%;
  }
 
 }
}

/* Página interativa */

   h2{
        display: inline-block;
        font-size: 30px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 10px;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #ff6ebd, #8ad5ff, #9effa9);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .body{
        font-family: "Caveat", cursive;
        background: #ffe6f2;
        text-align: center;
        padding: 20px;
    }

    h1 {
        display: inline-block;
        font-size: 30px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        margin: 10px;
        padding: 10px;
        font-family: "Poetsen One", sans-serif;
    }

    label {
        display: block;
        margin-top: 15px;
        margin-left: 10px;
        font-weight: bold;
        color: black;
        font-family: "Poetsen One", sans-serif;
    }


    select, input {
        padding: 10px;
        border-radius: 8px;
        border: 1px, solid #ccc;
        margin-top: 5px;
        width: 80%;
        max-width: 400px;
        margin-left: 10px;
    }

    button {
        background: #ff66a3;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s;
    }

    button:hover {
        background: #ff3385;
    }

    .episodio-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    #historia {
        display: none;
        background: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        font-size: 18px;
        line-height: 1.6;
        width: 350px;
    }
