@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poetsen+One&display=swap');
     
    .h2{
        font-family: "Poetsen One", sans-serif;
        margin: 5px;
        padding: 5px;
    }


    .titulo{
        display: inline-block;
        font-size: 40px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);;
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 10px;
    }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }


    .background-white{
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #ff6ebd, #8ad5ff, #9effa9);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }


    .container{
        max-width: 1400px;
        padding: 0 5%;
        margin: 0 auto;
    }
 
    section{
        padding: 3.0rem 0;
    }


    header{
        width: 100%;
        height: auto;
        padding: 15px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(90deg, #ff6ebd, #8ad5ff, #9effa9 );
        box-shadow: 0 2px 10px rgb(255, 252, 252)
    }


    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }


    .logo{
        font-size: 30px;
        font-weight: bold;
         display: inline-block;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        margin: 10px;
        padding: 5px;
    }


    .ul{
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: "Poetsen One", sans-serif;
    }


    ul li{
        margin: 0 35px;
        font-size: 15px;
    }


    ul li a{
        display: inline-block;
        font-size: 14px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        margin: 10px;
        padding: 5px;
    }


    a  {
        color:white;
        text-decoration: none;
    }


    .imagem-principal {
             width: 25%;
             max-width: 200px;
             display: block;
             margin: 20px auto;
    }


    .conteudo {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         gap: 30px;
         margin: 25px auto;
         max-width: 1100px;
         padding: 0 10px;
    }


    img {
        width: 40%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(255, 24, 151, 0.938);
    }


    .texto {
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);;
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
         width: 50%;
         font-family: "Caveat", cursive;
         font-size: 23.5px;
         line-height: 1.6;
    }


/* Responsividade para celular */


@media (max-width: 768px) {
 .conteudo {
    flex-direction: column;
    text-align: center;
padding: 0 5px;


 img {
    width: 80%;
    margin-bottom: 20px;
  }


 .texto {
    width: 100%;
  }
 
 }
}


/* GALERIA SUPERPODEROSAS */

.galeria {
    width: 250px;
    padding: 10px;
    background-color: #f9b4d3;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(255, 0, 119);
    transition: 0.3s;
}

.galeria:hover {
    background-color: #ff62cb;
    transform: scale(1.05);
}

.galeria a {
    text-decoration: none;
    color: #9a015a;
}


    .container-galeria-mae {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .img-galeria img {
        width: 100%;
        max-width: 200px;
        border-radius: 8px;
    }

    .img-galeria {
        display: flex;
        justify-content: center;
        gap: 50px;
    }


    .protagonistas-mae {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .imagens-protagonistas {
        display: flex;
        justify-content: center;
        gap: 25px;
        width: 600px;
        border-radius: 8px;
        margin-top: 20px;
    }

    .meninas {
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
    }

    .text-protagonistas {
        display: flex;
        text-align: center;
        gap: 20px;
        font-family: "Caveat", cursive;
        font-size: 25px;
        margin: 10px;
        padding: 10px;
        line-height: 1.6;
    }

    
    .background-flor {
        display: block;
        block-size: 140px;
        margin-block: 20px;
        padding-block: 20px;
        border-radius: 15px;
        background: linear-gradient(135deg, #fdb8cf, #f66c9a, #ff1865) ;
        font-family: "Caveat", cursive;
        font-size: 25px;
        color: rgb(97, 5, 42);
        box-shadow:  0 10px 20px rgba(236, 4, 132, 0.938);
    }

    .linda {
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 20px;
    }

    .background-linda {
        display: block;
        block-size: 140px;
        margin-block: 20px;
        padding-block: 20px;
        border-radius: 15px;
        background: linear-gradient(135deg, #aacbfe, #80a1fc, #4d92f9) ;
        font-family: "Caveat", cursive;
        font-size: 25px;
        color: rgb(18, 6, 75);
        box-shadow:  0 10px 20px rgba(24, 21, 238, 0.938);
    }

    .doce {
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 20px;
    }

    .background-doce {
        display: block;
        block-size: 140px;
        margin-block: 20px;
        padding-block: 20px;
        border-radius: 15px;
        background: linear-gradient(135deg, #a4f9a4, #55f675, #019319) ;
        font-family: "Caveat", cursive;
        font-size: 25px;
        color: rgb(1, 47, 4);
        box-shadow:  0 10px 20px rgba(3, 86, 18, 0.938);
    }

    .background-star-mae {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        flex-direction: row;
    }

    .imgstar {
        align-self: flex-start;
        width: 620px;
        gap: 50px;
        margin: 0;
        padding: 0;
    }

    .topicos {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 20px;
    }

    .text-star {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        align-self: flex-start;
        justify-content: center;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
         width: 50%;
         font-family: "Caveat", cursive;
         font-size: 25px;
         margin: 20px;
         padding: 20px;
    }

    .container-viloes-mae {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .img-viloes {
        display: flex;
        justify-content: center;
        gap: 225px;
        width: 600px;
        border-radius: 8px;
    }

    .text-viloes {
        display: flex;
        text-align: center;
        gap: 20px;
        font-family: "Caveat", cursive;
        font-size: 25px;
        margin: 10px;
        padding: 10px;
        line-height: 1.6;
    }

    .background-viloes {
        display: block;
        block-size: 220px;
        margin-block: 20px;
        padding-block: 20px;
        border-radius: 15px;
        background: linear-gradient(135deg,  #ff6ebd, #8ad5ff, #9effa9) ;
        font-family: "Caveat", cursive;
        font-size: 25px;
        color: #530143;
        box-shadow:  0 10px 20px rgba(236, 4, 132, 0.938);
    }




/* Página interativa */


   h2{
        display: inline-block;
        font-size: 30px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        margin: 10px;
        padding: 10px;
    }


    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #ff6ebd, #8ad5ff, #9effa9);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: left;
    }


    .body{
        font-family: "Caveat", cursive;
        background: #ffe6f2;
        text-align: left;
        padding: 20px;
    }


    h1 {
        display: inline-block;
        font-size: 30px;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        margin: 10px;
        padding: 10px;
        font-family: "Poetsen One", sans-serif;
    }


    label {
        display: block;
        margin-top: 15px;
        margin-left: 10px;
        font-weight: bold;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);;
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        font-family: "Poetsen One", sans-serif;
        color: #530143;
    }

    select, input {
        padding: 10px;
        border-radius: 8px;
        border: 1px solid rgb(102, 24, 102);
        margin-top: 5px;
        width: 80%;
        max-width: 400px;
        margin-left: 20px;
        font-family: "Poetsen One", sans-serif;
        color: #530143;
    }  

    button {
        background: #af40a2;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s;
        font-family: "Poetsen One", sans-serif;
        color: #530143;
    }


    button:hover {
        background: #89056f;
    }


    .formulario {
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .episodio-container {
        display: flex;
        justify-content: flex-start; 
        align-items: flex-start;
        gap: 215px;
    }

    #historia {
        display: block;
        background: linear-gradient(90deg, #b83280 0%, #1e3a8a 50%, #166534 100%);;
        background-size: 200% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textFlow 6s ease infinite;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgb(102, 24, 102);
        font-size: 23px;
        line-height: 1.6;
        width: 350px;
        font-family: "Caveat", cursive;;
    }

    .imagemfinal {
        width: 500px;
        height: auto;
        box-shadow: 0 0 50px rgb(102, 24, 102);
    }